**Table of contents**<a id='toc0_'></a>    
- 1. [Imports and Helper Functions](#toc1_)    
  - 1.1. [Bibliotecas](#toc1_1_)    
  - 1.2. [Helper Functions](#toc1_2_)    
  - 1.3. [Dados](#toc1_3_)    
- 2. [Data Description](#toc2_)    
  - 2.1. [Safety Copy](#toc2_1_)    
  - 2.2. [Adjusting the data](#toc2_2_)    
  - 2.3. [Adjusting variable types](#toc2_3_)    
  - 2.4. [Fillout NAs](#toc2_4_)    
  - 2.5. [Some plots](#toc2_5_)    
- 3. [Feature Engineering](#toc3_)    
  - 3.1. [Hipothesis List](#toc3_1_)    
    - 3.1.1. [Hipoteses Loja](#toc3_1_1_)    
    - 3.1.2. [Hipoteses Produto](#toc3_1_2_)    
    - 3.1.3. [Hipoteses Tempo](#toc3_1_3_)    
    - 3.1.4. [Lista Final de Hipóteses](#toc3_1_4_)    
  - 3.2. [Safety Copy](#toc3_2_)    
  - 3.3. [Making up some new variables](#toc3_3_)    
    - 3.3.1. [Splitting date into day, week_of_year, month and year variables](#toc3_3_1_)    
    - 3.3.2. [Competition since](#toc3_3_2_)    
    - 3.3.3. [Promo since](#toc3_3_3_)    
    - 3.3.4. [Assortment type](#toc3_3_4_)    
    - 3.3.5. [State holiday](#toc3_3_5_)    
  - 3.4. [Exporting and loading to pickle](#toc3_4_)    
- 4. [Feature Filtering](#toc4_)    
  - 4.1. [Safety copy](#toc4_1_)    
  - 4.2. [Filtering lines](#toc4_2_)    
  - 4.3. [Filtering columns](#toc4_3_)    
  - 4.4. [Exporting pickle file](#toc4_4_)    
- 5. [Exploratory Data Analysis (EDA)](#toc5_)    
  - 5.1. [Safety copy](#toc5_1_)    
  - 5.2. [Univariate analysis](#toc5_2_)    
    - 5.2.1. [Target variable distribution](#toc5_2_1_)    
    - 5.2.2. [Reporting with YData Profiling](#toc5_2_2_)    
    - 5.2.3. [Numerical variables](#toc5_2_3_)    
    - 5.2.4. [Categorical variables](#toc5_2_4_)    
  - 5.3. [Bivariate analysis](#toc5_3_)    
  - 5.4. [Testing some hypothesis](#toc5_4_)    
    - 5.4.1. [<u>H01. Lojas com maior sortimentos deveriam vender mais.</u>](#toc5_4_1_)    
    - 5.4.2. [<s>H02. Lojas com competidores mais próximos deveriam vender menos.</s>](#toc5_4_2_)    
    - 5.4.3. [<u>H03. Lojas com competidores há mais tempo deveriam vender mais.</u>](#toc5_4_3_)    
    - 5.4.4. [<s>H04. Lojas com promoções ativas por mais tempo deveriam vender mais.</s>](#toc5_4_4_)    
    - 5.4.5. [H05. Lojas com mais dias de promoção deveriam vender mais.](#toc5_4_5_)    
    - 5.4.6. [H06. Lojas com mais promoçòes consecutivas deveriam vender mais.](#toc5_4_6_)    
    - 5.4.7. [<s>H07. Lojas abertas durante o feriado de Natal deveriam vender mais.</s>](#toc5_4_7_)    
    - 5.4.8. [H08. Lojas deveriam vender mais ao longo dos anos.](#toc5_4_8_)    
  - 5.5. [Multivariate analysis](#toc5_5_)    
    - 5.5.1. [Multivariate numerical variable analysis](#toc5_5_1_)    
    - 5.5.2. [Multivariate categorical variable analysis](#toc5_5_2_)    
  - 5.6. [Export as pickle](#toc5_6_)    
- 6. [Data Preparation](#toc6_)    
  - 6.1. [Safety copy](#toc6_1_)    
  - 6.2. [Normalization](#toc6_2_)    
  - 6.3. [Rescaling](#toc6_3_)    
  - 6.4. [Transformation](#toc6_4_)    
    - 6.4.1. [Encoding](#toc6_4_1_)    
    - 6.4.2. [Nature Transformation](#toc6_4_2_)    
    - 6.4.3. [Target Variable Transformation](#toc6_4_3_)    
  - 6.5. [Export pickle](#toc6_5_)    
- 7. [Feature Selection](#toc7_)    
  - 7.1. [Safety copy](#toc7_1_)    
  - 7.2. [Splitting dataset into train and test](#toc7_2_)    
  - 7.3. [Boruta Feature Selector](#toc7_3_)    
    - 7.3.1. [Implementing Boruta itself](#toc7_3_1_)    
    - 7.3.2. [Best features selected from Boruta](#toc7_3_2_)    
    - 7.3.3. [Manual Feature Selection](#toc7_3_3_)    
- 8. [Machine Learning Modelling](#toc8_)    
  - 8.1. [Picking only the selected features](#toc8_1_)    
  - 8.2. [Average Model](#toc8_2_)    
    - 8.2.1. [Average Model](#toc8_2_1_)    
  - 8.3. [Linear Regression](#toc8_3_)    
    - 8.3.1. [Linear Regression Model](#toc8_3_1_)    
    - 8.3.2. [Linear Regression Cross-Validation](#toc8_3_2_)    
  - 8.4. [Lasso Linear Regression](#toc8_4_)    
    - 8.4.1. [Lasso Linear Regression Model](#toc8_4_1_)    
    - 8.4.2. [Lasso Linear Regression Cross-Validation](#toc8_4_2_)    
  - 8.5. [Random Forest Regresssion](#toc8_5_)    
    - 8.5.1. [Random Forest Regression Model](#toc8_5_1_)    
    - 8.5.2. [Random Forest Regression Cross-Validation](#toc8_5_2_)    
  - 8.6. [XGBoost Regression](#toc8_6_)    
    - 8.6.1. [XGBoost Regression Model](#toc8_6_1_)    
    - 8.6.2. [XGBoost Regression Cross-Validation](#toc8_6_2_)    
  - 8.7. [Compare model performances](#toc8_7_)    
    - 8.7.1. [Single Performance Metrics](#toc8_7_1_)    
    - 8.7.2. [Cross-Validation Metrics](#toc8_7_2_)    
- 9. [Hyperparameter Fine-Tuning](#toc9_)    
  - 9.1. [Random Search Hyperparameter Fine-Tuning](#toc9_1_)    
  - 9.2. [Tuned parameters](#toc9_2_)    
- 10. [Error Interpretation](#toc10_)    
- 11. [Model Deployment](#toc11_)    

<!-- vscode-jupyter-toc-config
	numbering=true
	anchor=true
	flat=false
	minLevel=1
	maxLevel=6
	/vscode-jupyter-toc-config -->
<!-- THIS CELL WILL BE REPLACED ON TOC UPDATE. DO NOT WRITE YOUR TEXT IN THIS CELL -->

# 1. <a id='toc1_'></a>[Imports and Helper Functions](#toc0_)

## 1.1. <a id='toc1_1_'></a>[Bibliotecas](#toc0_)

In [1]:
import datetime
import math
import numpy  as np
import pandas as pd
import random
import pickle
import requests
import warnings
import inflection
import seaborn as sns
import xgboost as xgb

from scipy                 import stats  as ss
from boruta                import BorutaPy
from matplotlib            import pyplot as plt
from IPython.display       import Image
from IPython.core.display  import HTML
from ydata_profiling       import ProfileReport

from sklearn.metrics       import mean_absolute_error, mean_squared_error
from sklearn.ensemble      import RandomForestRegressor
from sklearn.linear_model  import LinearRegression, Lasso
from sklearn.preprocessing import RobustScaler, MinMaxScaler, LabelEncoder

warnings.filterwarnings( 'ignore' )

## 1.2. <a id='toc1_2_'></a>[Helper Functions](#toc0_)

In [2]:
def jupyter_configs():
    plt.style.use( 'bmh' )
    plt.rcParams['figure.figsize'] = [20, 12]
    plt.rcParams['font.size'] = 24
    
    display( HTML( '<style>.container { width:100% !important; }</style>') )
    pd.options.display.max_columns = None
    pd.options.display.max_rows = None
    pd.set_option( 'display.expand_frame_repr', False )
    
    sns.set()
    
jupyter_configs()

# -------------------------------------------------------------------------------- #

def cross_validation( x_training, kfold, model_name, model, verbose=False ):
    mae_list = []
    mape_list = []
    rmse_list = []
    for k in reversed( range( 1, kfold+1 ) ):
        if verbose:
            print( '\nKFold Number: {}'.format( k ) )
        # start and end date for validation 
        validation_start_date = x_training['date'].max() - datetime.timedelta( days=k*6*7)
        validation_end_date = x_training['date'].max() - datetime.timedelta( days=(k-1)*6*7)

        # filtering dataset
        training = x_training[x_training['date'] < validation_start_date]
        validation = x_training[(x_training['date'] >= validation_start_date) & (x_training['date'] <= validation_end_date)]

        # training and validation dataset
        # training
        xtraining = training.drop( ['date', 'sales'], axis=1 ) 
        ytraining = training['sales']

        # validation
        xvalidation = validation.drop( ['date', 'sales'], axis=1 )
        yvalidation = validation['sales']

        # model
        m = model.fit( xtraining, ytraining )

        # prediction
        yhat = m.predict( xvalidation )

        # performance
        m_result = ml_error( model_name, np.expm1( yvalidation ), np.expm1( yhat ) )

        # store performance of each kfold iteration
        mae_list.append(  m_result['MAE'] )
        mape_list.append( m_result['MAPE'] )
        rmse_list.append( m_result['RMSE'] )

    return pd.DataFrame( {'Model Name': model_name,
                          'MAE CV': np.round( np.mean( mae_list ), 2 ).astype( str ) + ' +/- ' + np.round( np.std( mae_list ), 2 ).astype( str ),
                          'MAPE CV': np.round( np.mean( mape_list ), 2 ).astype( str ) + ' +/- ' + np.round( np.std( mape_list ), 2 ).astype( str ),
                          'RMSE CV': np.round( np.mean( rmse_list ), 2 ).astype( str ) + ' +/- ' + np.round( np.std( rmse_list ), 2 ).astype( str ) }, index=[0] )


def mean_percentage_error( y, yhat ):
    return np.mean( ( y - yhat ) / y )
     
    
def mean_absolute_percentage_error( y, yhat ):
    return np.mean( np.abs( ( y - yhat ) / y ) )

    
def ml_error( model_name, y, yhat ):
    mae = mean_absolute_error( y, yhat )
    mape = mean_absolute_percentage_error( y, yhat )
    rmse = np.sqrt( mean_squared_error( y, yhat ) )
    
    return pd.DataFrame( { 'Model Name': model_name, 
                           'MAE': mae, 
                           'MAPE': mape,
                           'RMSE': rmse }, index=[0] )

def cramer_v( x, y ):
    cm = pd.crosstab( x, y ).as_matrix()
    n = cm.sum()
    r, k = cm.shape
    
    chi2 = ss.chi2_contingency( cm )[0]
    chi2corr = max( 0, chi2 - (k-1)*(r-1)/(n-1) )
    
    kcorr = k - (k-1)**2/(n-1)
    rcorr = r - (r-1)**2/(n-1)
    
    return np.sqrt( (chi2corr/n) / ( min( kcorr-1, rcorr-1 ) ) )

## 1.3. <a id='toc1_3_'></a>[Dados](#toc0_)

In [ ]:
# Load the data
sales_data = pd.read_csv('~/repos/DS_em_Prod/dataset/train.csv', low_memory=False)
store_data = pd.read_csv('~/repos/DS_em_Prod/dataset/store.csv', low_memory=False)

In [ ]:
# Merge the store and sales dataframes
raw_data = pd.merge(store_data, sales_data, how = 'left', on = 'Store')

# 2. <a id='toc2_'></a>[Data Description](#toc0_)
O objetivo aqui é averiguar por cima os dados disponíveis no dataframe, arrumar os nomes e tipos de colunas, converter algumas variáveis em variáveis mais informativas e fazer uma breve exploração visual dos dados.

## 2.1. <a id='toc2_1_'></a>[Safety Copy](#toc0_)

In [ ]:
# Copying the dataframe
df = raw_data.copy()

## 2.2. <a id='toc2_2_'></a>[Adjusting the data](#toc0_)

In [ ]:
# Renomeando as colunas
cols_old = df.columns
snakecase = lambda x: inflection.underscore(x)
cols_new = list(map(snakecase, cols_old))
cols_new

In [ ]:
df.columns = cols_new

In [ ]:
# O tamanho do df
df.shape

In [ ]:
# Breve descrição dos dados
df.describe().T

## 2.3. <a id='toc2_3_'></a>[Adjusting variable types](#toc0_)

In [ ]:
# Inspecionando os tipos de cada variável
df.dtypes

# store                             int64  --->  
# store_type                       object  --->  
# assortment                       object  --->  
# competition_distance            float64  --->  
# competition_open_since_month    float64  --->  int64
# competition_open_since_year     float64  --->  int64
# promo2                            int64  --->  
# promo2_since_week               float64  --->  int64
# promo2_since_year               float64  --->  int64
# promo_interval                   object  --->   
# day_of_week                       int64  --->  
# date                             object  --->  datetime
# sales                             int64  --->  
# customers                         int64  --->  
# open                              int64  --->  
# promo                             int64  --->  
# state_holiday                    object  --->  
# school_holiday                    int64  --->

In [ ]:
# Inspecionando a variável date
df.date

In [ ]:
# Convertendo os tipos de dados
df['date'] = pd.to_datetime(df['date'])
df['date']

## 2.4. <a id='toc2_4_'></a>[Fillout NAs](#toc0_)

In [ ]:
# Inspecionando os valores faltantes
df.isnull().mean()

# Há valores faltantes nas colunas:
# [ x ]  competition_distance            0.002597 ----> distância até o concorrente
# [ x ]  competition_open_since_month    0.317878 ----> mês em que a concorrência abriu
# [ x ]  competition_open_since_year     0.317878 ----> ano em que a concorrência abriu
# [ x ]  promo2_since_week               0.499436 ----> desde que semana do ano a promo extendida está aberta
# [ x ]  promo2_since_year               0.499436 ----> desde que ano a promo extendida está aberta
# [ x ]  promo_interval                  0.499436 ----> intervalo de promoções

In [ ]:
# Imputando uma distância muito grande para o competition distance
df['competition_distance'] = df['competition_distance'].apply(lambda x: 200000.0 if math.isnan(x) else x)

In [ ]:
# Imputando o mês da venda no competition_open_since_month com NA
df['competition_open_since_month'] = df.apply(lambda x: x['date'].month if math.isnan(x['competition_open_since_month']) else x['competition_open_since_month'], axis = 1)

In [ ]:
# Imputando o ano da venda no competition_open_since_year com NA
df['competition_open_since_year'] = df.apply(lambda x: x['date'].year if math.isnan(x['competition_open_since_year']) else x['competition_open_since_year'], axis=1)

In [ ]:
# Imputando a semana do ano da venda para a coluna promo2_since_week com NAs
df['promo2_since_week'] = df.apply(lambda x: x['date'].week if math.isnan(x['promo2_since_week']) else x['promo2_since_week'], axis = 1)

In [ ]:
# Imputando a semana do ano da venda para a coluna promo2_since_year com NAs
df['promo2_since_year'] = df.apply(lambda x: x['date'].year if math.isnan(x['promo2_since_year']) else x['promo2_since_year'], axis = 1)

In [ ]:
# Criar uma nova coluna (is_promo) para informar, comparando a data da venda (date) com a os meses de intervalo da promoção (promo_interval), se a venda foi feita em período de promo (is_promo)
month_map = {1: 'Jan',  2: 'Feb',  3: 'Mar',  4: 'Apr',  5: 'May',  6: 'Jun',  7: 'Jul',  8: 'Aug',  9: 'Sept',  10: 'Oct', 11: 'Nov', 12: 'Dec'}

df['promo_interval'].fillna(0, inplace=True )

df['month_map'] = df['date'].dt.month.map( month_map )

df['is_promo'] = df.apply(lambda x: 0 if x['promo_interval'] == 0 else 1 if x['month_map'] in x['promo_interval'] else 0, axis=1)

df.sample(10)

In [ ]:
# Conferindo se todos os NAs foram removidos corretamente
df.isna().sum()

In [ ]:
# Verificando os tipos de dados novamente
df.dtypes

In [ ]:
# Corrigindo os tipos de dados que ainda falatavam ser corrigidos
df['competition_open_since_month'] = df['competition_open_since_month'].astype('int64')
df['competition_open_since_year'] = df['competition_open_since_year'].astype('int64')
df['promo2_since_week'] = df['promo2_since_week'].astype('int64')
df['promo2_since_year'] = df['promo2_since_year'].astype('int64')
df.dtypes

## 2.5. <a id='toc2_5_'></a>[Some plots](#toc0_)

In [ ]:
sns.histplot( df['competition_distance'], kde=True )

In [ ]:
# Averiguar algumas variáveis categóricas e sua distribuição de dados:
aux = df[(df['school_holiday'] != 0) & (df['sales'] != 0)]
# State holiday
plt.subplot( 1, 3, 1 )
sns.boxplot( x='state_holiday', y='sales', data=aux )
# Store type
plt.subplot( 1, 3, 2 )
sns.boxplot( x='store_type', y='sales', data=aux )
# Assortment
plt.subplot( 1, 3, 3 )
sns.boxplot( x='assortment', y='sales', data=aux )

# 3. <a id='toc3_'></a>[Feature Engineering](#toc0_)
Agora que temos umas ideia de o que são os dados e as variáveis que temos disponíveis além de sua distribuição, podemos criar hipóteses a serem testadas considerando os dados disponíveis, bem como derivar novas variáveis que possam vir a nos ajudar. É interessante, aqui, criar um mapa mental de hipóteses a serem testadas.

Precisaremos:
- [x] Separar a coluna 'date' em:
  - day
  - month
  - year
  - week
  - year-week
- [ ] Transformar assortment em numérica (int64)
- [ ] Transformar state_holiday em numérica (int64)
- [ ] Criar uma coluna de tempo desde a promoção (promo_since)
- [ ] Criar uma coluna de tempo desde a competição (competition_since)

## 3.1. <a id='toc3_1_'></a>[Hipothesis List](#toc0_)

### 3.1.1. <a id='toc3_1_1_'></a>[Hipoteses Loja](#toc0_)

**1.** Lojas com número maior de funcionários deveriam vender mais.

**2.** Lojas com maior capacidade de estoque deveriam vender mais.

**3.** Lojas com maior porte deveriam vender mais.

**4.** Lojas com maior sortimentos deveriam vender mais.

**5.** Lojas com competidores mais próximos deveriam vender menos.

**6.** Lojas com competidores à mais tempo deveriam vendem mais.

### 3.1.2. <a id='toc3_1_2_'></a>[Hipoteses Produto](#toc0_)

**1.** Lojas que investem mais em Marketing deveriam vender mais.

**2.** Lojas com maior exposição de produto deveriam vender mais.

**3.** Lojas com produtos com preço menor deveriam vender mais.

**5.** Lojas com promoções mais agressivas ( descontos maiores ), deveriam vender mais.

**6.** Lojas com promoções ativas por mais tempo deveriam vender mais.

**7.** Lojas com mais dias de promoção deveriam vender mais.

**8.** Lojas com mais promoções consecutivas deveriam vender mais.

### 3.1.3. <a id='toc3_1_3_'></a>[Hipoteses Tempo](#toc0_)

**1.** Lojas abertas durante o feriado de Natal deveriam vender mais.

**2.** Lojas deveriam vender mais ao longo dos anos.

**3.** Lojas deveriam vender mais no segundo semestre do ano.

**4.** Lojas deveriam vender mais depois do dia 10 de cada mês.

**5.** Lojas deveriam vender menos aos finais de semana.

**6.** Lojas deveriam vender menos durante os feriados escolares.

### 3.1.4. <a id='toc3_1_4_'></a>[Lista Final de Hipóteses](#toc0_)

**1.** Lojas com maior sortimentos deveriam vender mais.

**2.** Lojas com competidores mais próximos deveriam vender menos.

**3.** Lojas com competidores à mais tempo deveriam vendem mais.

**4.** Lojas com promoções ativas por mais tempo deveriam vender mais.

**5.** Lojas com mais dias de promoção deveriam vender mais.

**7.** Lojas com mais promoções consecutivas deveriam vender mais.

**8.** Lojas abertas durante o feriado de Natal deveriam vender mais.

**9.** Lojas deveriam vender mais ao longo dos anos.

**10.** Lojas deveriam vender mais no segundo semestre do ano.

**11.** Lojas deveriam vender mais depois do dia 10 de cada mês.

**12.** Lojas deveriam vender menos aos finais de semana.

**13.** Lojas deveriam vender menos durante os feriados escolares.

## 3.2. <a id='toc3_2_'></a>[Safety Copy](#toc0_)

In [ ]:
df03 = df.copy()

In [ ]:
df03.head(1)

## 3.3. <a id='toc3_3_'></a>[Making up some new variables](#toc0_)

### 3.3.1. <a id='toc3_3_1_'></a>[Splitting date into day, week_of_year, month and year variables](#toc0_)

In [ ]:
# Criando a variável year
df03['year'] = df03['date'].dt.year

# Criando a variável month
df03['month'] = df03['date'].dt.month

# Criando a variável day
df03['day'] = df03['date'].dt.day

# Criando a variável week_of_year
df03['week_of_year'] = df03['date'].dt.isocalendar().week

# Criando a variável year_week
df03['year_week'] = df03['date'].dt.strftime('%Y-%U')

In [ ]:
df03.sample(5).T

### 3.3.2. <a id='toc3_3_2_'></a>[Competition since](#toc0_)

In [ ]:
df03['competition_since'] = df03.apply( lambda x: datetime.datetime( year=x['competition_open_since_year'], month=x['competition_open_since_month'], day=1 ), axis=1 )
df03['competition_time_month'] = ( ( df03['date'] - df03['competition_since'] )/30 ).apply( lambda x: x.days ).astype( int )

### 3.3.3. <a id='toc3_3_3_'></a>[Promo since](#toc0_)

In [ ]:
df03['promo_since'] = df03['promo2_since_year'].astype( str ) + '-' + df03['promo2_since_week'].astype( str )
df03['promo_since'] = df03['promo_since'].apply( lambda x: datetime.datetime.strptime( x + '-1', '%Y-%W-%w' ) - datetime.timedelta( days=7 ) )
df03['promo_time_week'] = ( ( df03['date'] - df03['promo_since'] )/7 ).apply( lambda x: x.days ).astype( int )

In [ ]:
# if df03['date'].dt.year == df03['promo2_since_year']:
#     df03['week_of_year']
# else:
#     tempo_promo = df03['date'].dt.year - df03['promo2_since_year']
    
# lambda x: df03['week_of_year'] if df03['date'].dt.year == df03['promo2_since_year'] else df03['year'] - df03['promo2_since_year']

### 3.3.4. <a id='toc3_3_4_'></a>[Assortment type](#toc0_)

In [ ]:
df03['assortment'] = df03['assortment'].apply( lambda x: 'basic' if x == 'a' else 'extra' if x == 'b' else 'extended' )

### 3.3.5. <a id='toc3_3_5_'></a>[State holiday](#toc0_)

In [ ]:
df03['state_holiday'].unique()

In [ ]:
df03['state_holiday'] = df03['state_holiday'].apply( lambda x: 'public_holiday' if x == 'a' else 'easter_holiday' if x == 'b' else 'christmas' if x == 'c' else 'regular_day' )

In [ ]:
df03['state_holiday']

## 3.4. <a id='toc3_4_'></a>[Exporting and loading to pickle](#toc0_)

In [ ]:
# First we verify if everything is allright
df03.sample(3).T

In [ ]:
# Salvando os objetos criados até aqui

# with open('./dataframe/df03.pkl', 'wb') as f:
#     pickle.dump(df03, f)
# f.close()

# df03.to_pickle("./dataframe/df03.pkl")

In [ ]:
# Carregando os objetos salvos

# with open('./dataframe/df03.pkl', 'rb') as f:
#     df03 = pickle.load(f)
# f.close

# df_03 = pd.read_pickle("./dataframe/df03.pkl")

# 4. <a id='toc4_'></a>[Feature Filtering](#toc0_)

## 4.1. <a id='toc4_1_'></a>[Safety copy](#toc0_)

In [ ]:
df04 = df03.copy()

## 4.2. <a id='toc4_2_'></a>[Filtering lines](#toc0_)

In [ ]:
df04 = df04[(df04['open'] != 0) & (df04['sales'] > 0)]

## 4.3. <a id='toc4_3_'></a>[Filtering columns](#toc0_)

In [ ]:
cols_drop = ['customers', 'open', 'promo_interval', 'month_map']
df04 = df04.drop( cols_drop, axis=1 )

## 4.4. <a id='toc4_4_'></a>[Exporting pickle file](#toc0_)

In [ ]:
# df04.to_pickle('./dataframe/df04.pkl')

In [ ]:
# df04 = pd.read_pickle('./dataframe/df04.pkl')

# 5. <a id='toc5_'></a>[Exploratory Data Analysis (EDA)](#toc0_)

## 5.1. <a id='toc5_1_'></a>[Safety copy](#toc0_)

In [ ]:
df05 = df04.copy()

## 5.2. <a id='toc5_2_'></a>[Univariate analysis](#toc0_)

### 5.2.1. <a id='toc5_2_1_'></a>[Target variable distribution](#toc0_)

In [ ]:
sns.histplot(data = df05,
             x = 'sales',
             bins = 100)

### 5.2.2. <a id='toc5_2_2_'></a>[Reporting with YData Profiling](#toc0_)

In [ ]:
# report = ProfileReport(df05, title='Report')
# report

In [ ]:
# report.to_file("your_report.html")

### 5.2.3. <a id='toc5_2_3_'></a>[Numerical variables](#toc0_)

In [ ]:
num_variables = df05.select_dtypes( include=['int64', 'float64'] )

In [ ]:
num_variables.hist(bins=25);

### 5.2.4. <a id='toc5_2_4_'></a>[Categorical variables](#toc0_)

In [ ]:
# state_holiday
plt.subplot( 3, 2, 1 )
a = df05[df05['state_holiday'] != 'regular_day']
sns.countplot(data = a, x= a['state_holiday'] )

plt.subplot( 3, 2, 2 )
sns.kdeplot( df05[df05['state_holiday'] == 'public_holiday']['sales'], label='public_holiday', shade=True )
sns.kdeplot( df05[df05['state_holiday'] == 'easter_holiday']['sales'], label='easter_holiday', shade=True )
sns.kdeplot( df05[df05['state_holiday'] == 'christmas']['sales'], label='christmas', shade=True )

# store_type
plt.subplot( 3, 2, 3 )
sns.countplot( data = df05, x = df05['store_type'] )

plt.subplot( 3, 2, 4 )
sns.kdeplot( df05[df05['store_type'] == 'a']['sales'], label='a', shade=True )
sns.kdeplot( df05[df05['store_type'] == 'b']['sales'], label='b', shade=True )
sns.kdeplot( df05[df05['store_type'] == 'c']['sales'], label='c', shade=True )
sns.kdeplot( df05[df05['store_type'] == 'd']['sales'], label='d', shade=True )

# assortment
plt.subplot( 3, 2, 5 )
sns.countplot(data = df05, x = df05['assortment'] )

plt.subplot( 3, 2, 6 )
sns.kdeplot( df05[df05['assortment'] == 'extended']['sales'], label='extended', shade=True )
sns.kdeplot( df05[df05['assortment'] == 'basic']['sales'], label='basic', shade=True )
sns.kdeplot( df05[df05['assortment'] == 'extra']['sales'], label='extra', shade=True )

## 5.3. <a id='toc5_3_'></a>[Bivariate analysis](#toc0_)

## 5.4. <a id='toc5_4_'></a>[Testing some hypothesis](#toc0_)

### 5.4.1. <a id='toc5_4_1_'></a>[<u>H01. Lojas com maior sortimentos deveriam vender mais.</u>](#toc0_)
- A soma das vendas por sortimentos mostra que o tipo que vende menos, em média é o sortimento **a**, seguido por **c** e então **b**.
- Contudo considerando a soma das vendas, o sortimento que vende menos é **b**, seguido de **c** e **a** praticamente empatados.
- Os sortimentos que realizam menos vendas são **b**, **c** e **a**.
- As vendas das lojas de sortimento **a** e **c** tendem a ser afetadas por mais outliers.

In [ ]:
aux = df05[['assortment', 'sales']].groupby('assortment').mean().reset_index()
aux

In [ ]:
aux = df05[['assortment', 'sales']].groupby('assortment').sum().reset_index()
aux

In [ ]:
aux = df05[['assortment', 'sales']].groupby('assortment').count().reset_index()
aux

In [ ]:
sns.boxplot(data = df05,
            x = 'assortment',
            y = 'sales')

### 5.4.2. <a id='toc5_4_2_'></a>[<s>H02. Lojas com competidores mais próximos deveriam vender menos.</s>](#toc0_)
- Parece haver uma tendência inversamente proporcional entre a distância do competidor e as vendas, contrariando as expectativas.

In [ ]:
aux = df05[(df05['sales']!=0) & (df05['competition_distance']!=0)]

In [ ]:
sns.scatterplot(data = aux,
                x = 'competition_distance',
                y = 'sales',
                s = 150,
                hue = 'assortment',
                alpha = 0.3);

### 5.4.3. <a id='toc5_4_3_'></a>[<u>H03. Lojas com competidores há mais tempo deveriam vender mais.</u>](#toc0_)
- Contradizendo mais uma vez o esperado, há uma tendência de que lojas com competidores mais recentes vendam mais.

In [ ]:
aux = df05[df05['sales']!= 0]
# df05[['competition_open_since_year', 'sales']]

In [ ]:
aux['competition_timespan'] = aux['date'].dt.year - aux['competition_open_since_year']

In [ ]:
sns.scatterplot(data = aux,
                x = 'competition_timespan',
                y = 'sales',
                s = 150,
                alpha = .3,
                hue = 'assortment');

### 5.4.4. <a id='toc5_4_4_'></a>[<s>H04. Lojas com promoções ativas por mais tempo deveriam vender mais.</s>](#toc0_)
- Não parece haver uma relação direta entre a duração das promoções e as vendas

In [ ]:
sns.scatterplot(data = df05,
                x = 'competition_time_month',
                y = 'sales',
                s = 150,
                hue = 'assortment',
                alpha = .3)

### 5.4.5. <a id='toc5_4_5_'></a>[H05. Lojas com mais dias de promoção deveriam vender mais.](#toc0_)

### 5.4.6. <a id='toc5_4_6_'></a>[H06. Lojas com mais promoçòes consecutivas deveriam vender mais.](#toc0_)

### 5.4.7. <a id='toc5_4_7_'></a>[<s>H07. Lojas abertas durante o feriado de Natal deveriam vender mais.</s>](#toc0_)
- Embora as vendas no Natal sejam relativamente altas, não são as campeãs de vendas, perdendo para a a Páscoa

In [ ]:
sns.boxplot(data = df05[(df05['sales'] != 0)],
            x = 'state_holiday',
            y = 'sales')

### 5.4.8. <a id='toc5_4_8_'></a>[H08. Lojas deveriam vender mais ao longo dos anos.](#toc0_)

## 5.5. <a id='toc5_5_'></a>[Multivariate analysis](#toc0_)

### 5.5.1. <a id='toc5_5_1_'></a>[Multivariate numerical variable analysis](#toc0_)

In [ ]:
correlation = num_variables.corr( method='pearson' )
sns.heatmap( correlation, annot=True )

### 5.5.2. <a id='toc5_5_2_'></a>[Multivariate categorical variable analysis](#toc0_)

In [ ]:
# # only categorical data
# a = df4.select_dtypes( include='object' )

# # Calculate cramer V
# a1 = cramer_v( a['state_holiday'], a['state_holiday'] )
# a2 = cramer_v( a['state_holiday'], a['store_type'] )
# a3 = cramer_v( a['state_holiday'], a['assortment'] )

# a4 = cramer_v( a['store_type'], a['state_holiday'] )
# a5 = cramer_v( a['store_type'], a['store_type'] )
# a6 = cramer_v( a['store_type'], a['assortment'] )

# a7 = cramer_v( a['assortment'], a['state_holiday'] )
# a8 = cramer_v( a['assortment'], a['store_type'] )
# a9 = cramer_v( a['assortment'], a['assortment'] )

# # Final dataset
# d = pd.DataFrame( {'state_holiday': [a1, a2, a3], 
#                'store_type': [a4, a5, a6],
#                'assortment': [a7, a8, a9]  })
# d = d.set_index( d.columns )

# sns.heatmap( d, annot=True )

## 5.6. <a id='toc5_6_'></a>[Export as pickle](#toc0_)

In [ ]:
# df05.to_pickle('./dataframe/df05.pkl')

# 6. <a id='toc6_'></a>[Data Preparation](#toc0_)

## 6.1. <a id='toc6_1_'></a>[Safety copy](#toc0_)

In [3]:
# df06 = df05.copy()
df06 = pd.read_pickle('./dataframe/df05.pkl')

In [4]:
df06.head().T

                                                0                    1                    2                    3                    4
store                                           1                    1                    1                    1                    1
store_type                                      c                    c                    c                    c                    c
assortment                                  basic                basic                basic                basic                basic
competition_distance                       1270.0               1270.0               1270.0               1270.0               1270.0
competition_open_since_month                    9                    9                    9                    9                    9
competition_open_since_year                  2008                 2008                 2008                 2008                 2008
promo2                                          0                    0                    0                    0                    0
promo2_since_week                              31                   31                   31                   31                   31
promo2_since_year                            2015                 2015                 2015                 2015                 2015
day_of_week                                     5                    4                    3                    2                    1
date                          2015-07-31 00:00:00  2015-07-30 00:00:00  2015-07-29 00:00:00  2015-07-28 00:00:00  2015-07-27 00:00:00
sales                                        5263                 5020                 4782                 5011                 6102
promo                                           1                    1                    1                    1                    1
state_holiday                         regular_day          regular_day          regular_day          regular_day          regular_day
school_holiday                                  1                    1                    1                    1                    1
is_promo                                        0                    0                    0                    0                    0
year                                         2015                 2015                 2015                 2015                 2015
month                                           7                    7                    7                    7                    7
day                                            31                   30                   29                   28                   27
week_of_year                                   31                   31                   31                   31                   31
year_week                                 2015-30              2015-30              2015-30              2015-30              2015-30
competition_since             2008-09-01 00:00:00  2008-09-01 00:00:00  2008-09-01 00:00:00  2008-09-01 00:00:00  2008-09-01 00:00:00
competition_time_month                         84                   84                   84                   84                   84
promo_since                   2015-07-27 00:00:00  2015-07-27 00:00:00  2015-07-27 00:00:00  2015-07-27 00:00:00  2015-07-27 00:00:00
promo_time_week                                 0                    0                    0                    0                    0

## 6.2. <a id='toc6_2_'></a>[Normalization](#toc0_)

In [5]:
# No normalization needed

## 6.3. <a id='toc6_3_'></a>[Rescaling](#toc0_)

In [6]:
rs = RobustScaler()
mms = MinMaxScaler()

In [7]:
# competition distance
df06['competition_distance'] = rs.fit_transform( df06[['competition_distance']].values )
pickle.dump( rs, open( './parameter/competition_distance_scaler.pkl', 'wb') )

# competition time month
df06['competition_time_month'] = rs.fit_transform( df06[['competition_time_month']].values )
pickle.dump( rs, open( './parameter/competition_time_month_scaler.pkl', 'wb') )

# promo time week
df06['promo_time_week'] = mms.fit_transform( df06[['promo_time_week']].values )
pickle.dump( rs, open( './parameter/promo_time_week_scaler.pkl', 'wb') )

# year
df06['year'] = mms.fit_transform( df06[['year']].values )
pickle.dump( mms, open( './parameter/year_scaler.pkl', 'wb') )

## 6.4. <a id='toc6_4_'></a>[Transformation](#toc0_)

### 6.4.1. <a id='toc6_4_1_'></a>[Encoding](#toc0_)

In [8]:
# state_holiday - One Hot Encoding
df06 = pd.get_dummies( df06, prefix=['state_holiday'], columns=['state_holiday'] )

# store_type - Label Encoding
le = LabelEncoder()
df06['store_type'] = le.fit_transform( df06['store_type'] )
pickle.dump( le, open( 'parameter/store_type_scaler.pkl', 'wb') )

# assortment - Ordinal Encoding
assortment_dict = {'basic': 1,  'extra': 2, 'extended': 3}
df06['assortment'] = df06['assortment'].map( assortment_dict )

### 6.4.2. <a id='toc6_4_2_'></a>[Nature Transformation](#toc0_)

In [9]:
# day of week
df06['day_of_week_sin'] = df06['day_of_week'].apply( lambda x: np.sin( x * ( 2. * np.pi/7 ) ) )
df06['day_of_week_cos'] = df06['day_of_week'].apply( lambda x: np.cos( x * ( 2. * np.pi/7 ) ) )

# month
df06['month_sin'] = df06['month'].apply( lambda x: np.sin( x * ( 2. * np.pi/12 ) ) )
df06['month_cos'] = df06['month'].apply( lambda x: np.cos( x * ( 2. * np.pi/12 ) ) )

# day 
df06['day_sin'] = df06['day'].apply( lambda x: np.sin( x * ( 2. * np.pi/30 ) ) )
df06['day_cos'] = df06['day'].apply( lambda x: np.cos( x * ( 2. * np.pi/30 ) ) )

# week of year
df06['week_of_year_sin'] = df06['week_of_year'].apply( lambda x: np.sin( x * ( 2. * np.pi/52 ) ) )
df06['week_of_year_cos'] = df06['week_of_year'].apply( lambda x: np.cos( x * ( 2. * np.pi/52 ) ) )

### 6.4.3. <a id='toc6_4_3_'></a>[Target Variable Transformation](#toc0_)

In [10]:
# Logaritmic transformation
df06['sales'] = np.log1p( df06['sales'] )

## 6.5. <a id='toc6_5_'></a>[Export pickle](#toc0_)

In [11]:
df06.to_pickle('./dataframe/df06.pkl')

# 7. <a id='toc7_'></a>[Feature Selection](#toc0_)

## 7.1. <a id='toc7_1_'></a>[Safety copy](#toc0_)

In [12]:
df07 = pd.read_pickle('./dataframe/df06.pkl')

## 7.2. <a id='toc7_2_'></a>[Splitting dataset into train and test](#toc0_)
- Os dados de treinamento serão os dados anteriores às seis últimas semanas, já que queremos prever o faturamento das lojas nas seis próximas semanas
- Portanto os dados de teste serão os das seis semanas mais recentes

In [13]:
cols_drop = ['week_of_year', 'day', 'month', 'day_of_week', 'promo_since', 'competition_since', 'year_week' ]
df07 = df07.drop( cols_drop, axis=1 )

In [14]:
# training dataset
X_train = df07[df07['date'] < '2015-06-19']
y_train = X_train['sales']

# test dataset
X_test = df07[df07['date'] >= '2015-06-19']
y_test = X_test['sales']

print( 'Training Min Date: {}'.format( X_train['date'].min() ) )
print( 'Training Max Date: {}'.format( X_train['date'].max() ) )

print( '\nTest Min Date: {}'.format( X_test['date'].min() ) )
print( 'Test Max Date: {}'.format( X_test['date'].max() ) )

Training Min Date: 2013-01-01 00:00:00
Training Max Date: 2015-06-18 00:00:00

Test Min Date: 2015-06-19 00:00:00
Test Max Date: 2015-07-31 00:00:00

## 7.3. <a id='toc7_3_'></a>[Boruta Feature Selector](#toc0_)

### 7.3.1. <a id='toc7_3_1_'></a>[Implementing Boruta itself](#toc0_)

In [15]:
# # training and test dataset for Boruta
# X_train_n = X_train.drop( ['date', 'sales'], axis=1 ).values
# y_train_n = y_train.values.ravel()

# # define RandomForestRegressor
# rf = RandomForestRegressor( n_jobs=-1 )

# # define Boruta
# boruta = BorutaPy( rf, n_estimators='auto', verbose=2, random_state=42 ).fit( X_train_n, y_train_n )

### 7.3.2. <a id='toc7_3_2_'></a>[Best features selected from Boruta](#toc0_)

In [16]:
# cols_selected = boruta.support_.tolist()

# # best features
# X_train_fs = X_train.drop( ['date', 'sales'], axis=1 )
# cols_selected_boruta = X_train_fs.iloc[:, cols_selected].columns.to_list()

# # not selected boruta
# cols_not_selected_boruta = list( np.setdiff1d( X_train_fs.columns, cols_selected_boruta ) )

### 7.3.3. <a id='toc7_3_3_'></a>[Manual Feature Selection](#toc0_)

In [17]:
cols_selected_boruta = [
    'store',
    'promo',
    'store_type',
    'assortment',
    'competition_distance',
    'competition_open_since_month',
    'competition_open_since_year',
    'promo2',
    'promo2_since_week',
    'promo2_since_year',
    'competition_time_month',
    'promo_time_week',
    'day_of_week_sin',
    'day_of_week_cos',
    'month_sin',
    'month_cos',
    'day_sin',
    'day_cos',
    'week_of_year_sin',
    'week_of_year_cos']

# columns to add
feat_to_add = ['date', 'sales']

cols_selected_boruta_full = cols_selected_boruta.copy()
cols_selected_boruta_full.extend( feat_to_add )

# 8. <a id='toc8_'></a>[Machine Learning Modelling](#toc0_)

## 8.1. <a id='toc8_1_'></a>[Picking only the selected features](#toc0_)

In [18]:
x_train = X_train[ cols_selected_boruta ]
x_test = X_test[ cols_selected_boruta ]

# Time Series Data Preparation
x_training = X_train[ cols_selected_boruta_full ]

## 8.2. <a id='toc8_2_'></a>[Average Model](#toc0_)

### 8.2.1. <a id='toc8_2_1_'></a>[Average Model](#toc0_)

In [19]:
aux1 = x_test.copy()
aux1['sales'] = y_test.copy()

# prediction
aux2 = aux1[['store', 'sales']].groupby( 'store' ).mean().reset_index().rename( columns={'sales': 'predictions'} )
aux1 = pd.merge( aux1, aux2, how='left', on='store' )
yhat_baseline = aux1['predictions']

# performance
baseline_result = ml_error( 'Average Model', np.expm1( y_test ), np.expm1( yhat_baseline ) )
baseline_result

      Model Name          MAE      MAPE         RMSE
0  Average Model  1354.800353  0.413001  1835.135542

## 8.3. <a id='toc8_3_'></a>[Linear Regression](#toc0_)

### 8.3.1. <a id='toc8_3_1_'></a>[Linear Regression Model](#toc0_)

In [21]:
# model
lr = LinearRegression().fit( x_train, y_train )

# prediction
yhat_lr = lr.predict( x_test )

# performance
lr_result = ml_error( 'Linear Regression', np.expm1( y_test ), np.expm1( yhat_lr ) )
lr_result

          Model Name          MAE      MAPE         RMSE
0  Linear Regression  1867.089774  0.292694  2671.049215

### 8.3.2. <a id='toc8_3_2_'></a>[Linear Regression Cross-Validation](#toc0_)

In [22]:
lr_result_cv = cross_validation( x_training, 5, 'Linear Regression', lr, verbose=False )
lr_result_cv

          Model Name              MAE CV       MAPE CV             RMSE CV
0  Linear Regression  2081.73 +/- 295.63  0.3 +/- 0.02  2952.52 +/- 468.37

## 8.4. <a id='toc8_4_'></a>[Lasso Linear Regression](#toc0_)

### 8.4.1. <a id='toc8_4_1_'></a>[Lasso Linear Regression Model](#toc0_)

In [23]:
# model
lrr = Lasso( alpha=0.01 ).fit( x_train, y_train )

# prediction
yhat_lrr = lrr.predict( x_test )

# performance
lrr_result = ml_error( 'Linear Regression - Lasso', np.expm1( y_test ), np.expm1( yhat_lrr ) )
lrr_result

                  Model Name          MAE      MAPE         RMSE
0  Linear Regression - Lasso  1891.704881  0.289106  2744.451737

### 8.4.2. <a id='toc8_4_2_'></a>[Lasso Linear Regression Cross-Validation](#toc0_)

In [24]:
lrr_result_cv = cross_validation( x_training, 5, 'Lasso', lrr, verbose=False )
lrr_result_cv

  Model Name             MAE CV        MAPE CV             RMSE CV
0      Lasso  2116.38 +/- 341.5  0.29 +/- 0.01  3057.75 +/- 504.26

## 8.5. <a id='toc8_5_'></a>[Random Forest Regresssion](#toc0_)

### 8.5.1. <a id='toc8_5_1_'></a>[Random Forest Regression Model](#toc0_)

In [25]:
# model
rf = RandomForestRegressor( n_estimators=100, n_jobs=-1, random_state=42 ).fit( x_train, y_train )

# prediction
yhat_rf = rf.predict( x_test )

# performance
rf_result = ml_error( 'Random Forest Regressor', np.expm1( y_test ), np.expm1( yhat_rf ) )
rf_result

                Model Name         MAE      MAPE         RMSE
0  Random Forest Regressor  687.738992  0.101052  1022.514627

### 8.5.2. <a id='toc8_5_2_'></a>[Random Forest Regression Cross-Validation](#toc0_)

In [26]:
rf_result_cv = cross_validation( x_training, 5, 'Random Forest Regressor', rf, verbose=True )
rf_result_cv

KFold Number: 5

KFold Number: 4

KFold Number: 3

KFold Number: 2

KFold Number: 1

                Model Name             MAE CV        MAPE CV             RMSE CV
0  Random Forest Regressor  837.13 +/- 217.38  0.12 +/- 0.02  1255.45 +/- 317.87

## 8.6. <a id='toc8_6_'></a>[XGBoost Regression](#toc0_)

### 8.6.1. <a id='toc8_6_1_'></a>[XGBoost Regression Model](#toc0_)

In [29]:
# model
model_xgb = xgb.XGBRegressor( objective='reg:squarederror',
                              n_estimators=100, 
                              eta=0.01, 
                              max_depth=10, 
                              subsample=0.7,
                              colsample_bytree=0.9 ).fit( x_train, y_train )

# prediction
yhat_xgb = model_xgb.predict( x_test )

# performance
xgb_result = ml_error( 'XGBoost Regressor', np.expm1( y_test ), np.expm1( yhat_xgb ) )
xgb_result

          Model Name          MAE      MAPE         RMSE
0  XGBoost Regressor  6683.568869  0.949465  7330.901783

### 8.6.2. <a id='toc8_6_2_'></a>[XGBoost Regression Cross-Validation](#toc0_)

In [30]:
xgb_result_cv = cross_validation( x_training, 5, 'XGBoost Regressor', model_xgb, verbose=True )
xgb_result_cv

KFold Number: 5

KFold Number: 4

KFold Number: 3

KFold Number: 2

KFold Number: 1

          Model Name             MAE CV       MAPE CV             RMSE CV
0  XGBoost Regressor  7049.08 +/- 588.3  0.95 +/- 0.0  7715.08 +/- 689.11

## 8.7. <a id='toc8_7_'></a>[Compare model performances](#toc0_)

### 8.7.1. <a id='toc8_7_1_'></a>[Single Performance Metrics](#toc0_)

In [31]:
modelling_result = pd.concat( [baseline_result, lr_result, lrr_result, rf_result, xgb_result] )
modelling_result.sort_values( 'RMSE' )

                  Model Name          MAE      MAPE         RMSE
0    Random Forest Regressor   687.738992  0.101052  1022.514627
0              Average Model  1354.800353  0.413001  1835.135542
0          Linear Regression  1867.089774  0.292694  2671.049215
0  Linear Regression - Lasso  1891.704881  0.289106  2744.451737
0          XGBoost Regressor  6683.568869  0.949465  7330.901783

### 8.7.2. <a id='toc8_7_2_'></a>[Cross-Validation Metrics](#toc0_)

In [32]:
modelling_result_cv = pd.concat( [lr_result_cv, lrr_result_cv, rf_result_cv, xgb_result_cv] )
modelling_result_cv

                Model Name              MAE CV        MAPE CV             RMSE CV
0        Linear Regression  2081.73 +/- 295.63   0.3 +/- 0.02  2952.52 +/- 468.37
0                    Lasso   2116.38 +/- 341.5  0.29 +/- 0.01  3057.75 +/- 504.26
0  Random Forest Regressor   837.13 +/- 217.38  0.12 +/- 0.02  1255.45 +/- 317.87
0        XGBoost Regressor   7049.08 +/- 588.3   0.95 +/- 0.0  7715.08 +/- 689.11

# 9. <a id='toc9_'></a>[Hyperparameter Fine-Tuning](#toc0_)

## 9.1. <a id='toc9_1_'></a>[Random Search Hyperparameter Fine-Tuning](#toc0_)

In [33]:
param = {
   'n_estimators': [1500, 1700, 2500, 3000, 3500],
   'eta': [0.01, 0.03],
   'max_depth': [3, 5, 9],
   'subsample': [0.1, 0.5, 0.7],
   'colsample_bytree': [0.3, 0.7, 0.9],
   'min_child_weight': [3, 8, 15]
       }

MAX_EVAL = 5

In [ ]:
final_result = pd.DataFrame()

for i in range( MAX_EVAL ):
   # choose values for parameters randomly
   hp = { k: random.sample( v, 1 )[0] for k, v in param.items() }
   print( hp )
   
   # model
   model_xgb = xgb.XGBRegressor( objective='reg:squarederror',
                                 n_estimators=hp['n_estimators'], 
                                 eta=hp['eta'], 
                                 max_depth=hp['max_depth'], 
                                 subsample=hp['subsample'],
                                 colsample_bytree=hp['colsample_bytree'],
                                 min_child_weight=hp['min_child_weight'] )

   # performance
   result = cross_validation( x_training, 5, 'XGBoost Regressor', model_xgb, verbose=True )
   final_result = pd.concat( [final_result, result] )
       
final_result

## 9.2. <a id='toc9_2_'></a>[Tuned parameters](#toc0_)

In [36]:
param_tuned = {
    'n_estimators': 3000,
    'eta': 0.03,
    'max_depth': 5,
    'subsample': 0.7,
    'colsample_bytree': 0.7,
    'min_child_weight': 3 
        }

In [39]:
# model
model_xgb_tuned = xgb.XGBRegressor( objective='reg:squarederror',
                                    n_estimators=param_tuned['n_estimators'], 
                                    eta=param_tuned['eta'], 
                                    max_depth=param_tuned['max_depth'], 
                                    subsample=param_tuned['subsample'],
                                    colsample_bytree=param_tuned['colsample_bytree'],
                                    min_child_weight=param_tuned['min_child_weight'] ).fit( x_train, y_train )

# prediction
yhat_xgb_tuned = model_xgb_tuned.predict( x_test )

# performance
xgb_result_tuned = ml_error( 'XGBoost Regressor', np.expm1( y_test ), np.expm1( yhat_xgb_tuned ) )
xgb_result_tuned

          Model Name         MAE      MAPE         RMSE
0  XGBoost Regressor  763.719883  0.115128  1095.347902

In [40]:
mpe = mean_percentage_error( np.expm1( y_test ), np.expm1( yhat_xgb_tuned ) )
mpe*100

-2.1047924598787286

# 10. <a id='toc10_'></a>[Error Interpretation](#toc0_)

# 11. <a id='toc11_'></a>[Model Deployment](#toc0_)